#container {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-band {
    border: 1px solid #ccc;
    text-align: center;
    width: 300px;
    word-wrap: break-word;
}

.band-info {
    display: none;
}

.band-relations {
    margin-top: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: none; 
}

/* .container-band:hover .band-relations {
    display: block;
} */

.container-band {
    border: 1px solid #ddd;
}

.band-image {
    margin-top: 10px;
}