<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <script src="/static/js/script.js"></script>
    <title>Groupie-Tracker</title>
</head>
<body>
    {{ $rels := .API.Relations }}
    <header>
        <div class="header-icon">
            <h1>Groupie-Tracker</h1>
        </div>
        <div class="navbar">
            <input type="text" id="search" placeholder="Search...">
            <button id="search-button">Search</button>
            <button id="reset-button">Reset</button>
        </div>
    </header>
    <section id="container">
        {{range $index, $band := .API.Bands}}
        <div class="container-band">
            <a href="band/{{ $band.ID }}">
                <img class="band-image" src="{{ $band.Image }}" alt="{{ $band.Name }}">
            </a>
            <h1>{{ $band.Name }}</h1>
            <div class="band-relations">
                {{template "Relations" (index $rels $index) }}
            </div>
        </div>
        {{end}}
    </section>
    <footer>

    </footer>
</body>
</html>
